/* Sets background color of entire page */
body {
    background: lightgray;
}

/* header and footer background and text color */
header, footer {
    background: darkslategrey;
    color: white;
}

header{
    padding-bottom: 10px;
}

/* header settings */
h1 {
    padding-top: 20px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
}

h3{
    font-size: 18px;
    margin: 0 0 10px 0; 
}

h2, h3{
    font-family: monospace;
}

header, footer, h2{
    text-align: center;
}

/* sets width of all images */
img {
    width: 400px;
}

/* sets width of main content */
main {
    width: 400px;
    margin: auto;
}

article img {
    margin-top: 30px;
}

footer p {
    padding: 10px 0;
    margin-bottom: 0;
}

/* link psudo classes */
a:link{
    color: blue;
    text-decoration: none;
}

a:visited{
    color: purple;
}

a:hover {
    color: green;
    text-decoration: underline;
}

a:active {
    color: red;
}

/* navigation bar settings */
.navbar {
    display: inline-block;
    padding: 5px 10px;
    background-color: lightyellow;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    border-radius: 20px;
}
.navbar:link{
    color: red;
}

.navbar:visited{
    color: orange;
}

.navbar:hover {
    color: green;
    background-color: lightgray;
    text-decoration: none;
    transform: scale(1.2);
    border: solid;
}
.navbar:active {
    color: cyan;
}
